{
  "customSyntax": "postcss-styled-syntax",
  "plugins": [
    "stylelint-prettier"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-standard",
    "stylelint-prettier/recommended",
    "stylelint-config-clean-order/error"
  ],
  "rules": {
    "prettier/prettier": true,
    "value-keyword-case": null,
    "selector-type-no-unknown": null,
    "selector-type-case": null,
    "no-duplicate-selectors": null,
    "value-no-vendor-prefix": null
  }
}
