.container {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;

  & a {
    font-size: inherit;
    text-decoration-color: transparent;
    text-decoration-style: wavy;
    transition: all 0.2s linear;

    &:hover,
    &:focus-visible {
      text-decoration-color: var(--color-primary);
    }
  }
}
